
<% if @feed %>
  <h1>My name is <%= @feed %></h1>
<% end %>
<form action="named-cat" method="post">
    <input type="text" feed="feed">
    <input type="submit" value="Submit"
</form>
<div style='border': 3px dashed blue'>
<img src='http://bit.ly/1eze8aE'>
</div>